<h2 class="ui center aligned icon header">

  <i class="orange user md icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your account settings.</div>
  </div>
</h2>