<div class="ui center aligned basic segment">
  <div class="ui left icon action input">
    <i class="angle double right icon"></i>
    <input type="text" placeholder="Enter email">
    <div class="ui blue submit button">Submit</div>
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <%= link_to '/account/signup' do %>
    <div class="ui teal labeled icon button">
        Create New Account
        <i class="add icon"></i>
    </div>
  <% end %>
</div>