<%= render 'password/header' %>
<div class="ui  container">
  <form class="ui form">
      <div class="field">
        <label>New password</label>
        <input type="text" name="first-name" placeholder="Enter New Password">
      </div>
      <div class="field">
        <label>Confirm new password</label>
        <input type="text" name="last-name" placeholder="Enter Confirm New Password">
      </div>
      
      <button class="ui blue button" type="submit">Submit</button>
  </form>

</div>