<h2 class="ui center aligned icon header">

  <i class="orange settings icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your account settings and your preferences.</div>
</h2>
<p><%= notice%></p>

<div class="ui container">
  <div class="ui two column grid">
   <div class="twelve wide column">
      <form class="ui form">
        <div class="field">
          <label>First Name</label>
          <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" name="last-name" placeholder="Last Name">
        </div>
            <div class="two wide fields">
              <div class="field">
                <label>Phone Number</label>
                <input type="text" name="phone-number" placeholder="Phone Number">
              </div>
              <div class="field">
                <label>Date of Birth</label>
                <input type="date" name="date-of-birth">
              </div>
            </div>
            <div class="field">
          <label>Last Name</label>
          <input type="file" name="file">
        </div>
        
        <button class="ui orange button" type="submit">Submit</button>
      </form>
    </div>
    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="ui card">
  <a class="image" href="#">
    <img src="https://raw.githubusercontent.com/whoisryosuke/semantic-ui-react-clean/master/docs/public/images/avatar/large/jenny.jpg">
  </a>
  <div class="content">
    <a class="header" href="#">Steve Jobes</a>
    <div class="meta">
      <a> +91-1234567890 </a>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>