<div class="ui inverted  menu">
    <div class="ui container">
        <%= link_to 'Home' , root_path, class: "item"%>
    <div class="right menu">
        <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
            <%= link_to 'Login' , '/account/login', class: "item"%>
            <%= link_to 'Signup' , '/account/signup', class: "item"%>
        </div>
        </div>
    </div>
  </div>
</div>